{% extends "default.njk" %}
{% block title %}My Cool Site{% endblock %}

{% block content %}
<h1>Testing the Server</h1>
This is a file with this {{ hello }}
    <p>hope this works!!</p>
    <p>
        <a href="/product_page.html">Go to product page --></a>
    </p>
{% endblock %}
