{% extends "default.njk" %}
{% block title %}My Cool Site{% endblock %}

{% block content %}
    <p><a href="index.html">go to back home page</a></p>
    <p>Here is a product page! {{ hello }}</p>
{% endblock %}
